<div class="projects__content">
  <div class="projects__image">
    <img
      [src]="proyectImgUrl"
      alt="Imagen de {{ proyectTitle }}"
      (click)="openProjectUrl()"
      [style.cursor]="proyectUrl ? 'pointer' : 'default'"
    />
  </div>

  <div class="projects__description">
    <h2
      (click)="openProjectUrl()"
      [style.cursor]="proyectUrl ? 'pointer' : 'default'"
    >
      {{ proyectTitle }}
    </h2>

    <div class="projects__tecnologies">
      <ng-container *ngFor="let tech of tecnologias">
        <app-button
          [textButton]="tech"
          [url]="getDocumentationUrl(tech)">
        </app-button>
      </ng-container>
      <div class="projects__tecnologies-icons">
        <!-- <a *ngIf="githubUrlFrontend"
           class="profile__socials__icon"
           title="Repositorio Frontend"
           [href]="githubUrlFrontend" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-256.png"
               alt="GitHub Frontend" />
        </a>
        <a *ngIf="githubUrlBackend"
           class="profile__socials__icon"
           title="Repositorio Backend"
           [href]="githubUrlBackend" target="_blank">
          <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-social-github-256.png"
               alt="GitHub Backend" />
        </a> -->
      </div>
    </div>

    <p class="projects__description-text">
      {{ proyectDescription }}
    </p>
  </div>
</div>
