.profile {
    margin-top: 10px;
    padding: 3%;
    width: 100%;
    background-color: #040610b0;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin-bottom: 20px;
    &__content {
        display: flex;
        flex-wrap: wrap;
        color: white;
        align-items: center;
        gap: 10px;
        &>div {
            text-align: start;
            flex: 1 1 48%;
            padding: 10px;
            border-radius: 8px;
        }
    }
    &__info {
        h2 {
            margin-bottom: 1%;
            font-size: 1.8rem;
            color: #3b82f6;
        }
        .profile__info-item {
            font-size: 1rem;
            margin-bottom: 25px;
            .profile__info-item-label {
                font-weight: bold;
                color: #3b82f6;
            }
            .profile__info-item-link {
                color: #007bff;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__bio {
        h2 {
            font-size: 1.8rem;
            color: #3b82f6;
        }
        .profile__bio-text {
            font-size: 1rem;
            line-height: 2.0rem;
            color: #ffffff;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            &>div {
                flex: 1 1 100%;
            }
        }
    }
}
