<div class="copied-message" *ngIf="showCopiedMessageFlag">
  {{ "copy_email" | translate }}
</div>

<div class="profile">
  <div class="profile__content">
      <div class="profile__bio">
          <h2>{{"my_description_title" | translate}}</h2>
          <p class="profile__bio-text">
              {{"my_description" | translate}}
          </p>
      </div>
      <div class="profile__info">
          <h2>{{"about_me_title" | translate}}</h2>
          <div class="profile__info-item">
              <strong class="profile__info-item-label">{{"about_me_titles.full_name" | translate}}</strong>
              <span>{{ 'about_me_details.full_name' | translate }}</span>
          </div>
          <div class="profile__info-item">
              <strong class="profile__info-item-label">{{"about_me_titles.phone" | translate}}</strong>
              <span>{{ 'about_me_details.phone' | translate }}</span>
          </div>
          <div class="profile__info-item">
              <strong class="profile__info-item-label">{{"about_me_titles.email" | translate}}</strong>
              <span>
                  <a (click)="openEmailClient()" class="profile__info-item-link" style="cursor: pointer;">{{ email }}</a>
                                    <button class="copy-button" (click)="copyEmail()">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2" stroke="currentColor" stroke-width="2" fill="none"/>
                                            <path d="m5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1" stroke="currentColor" stroke-width="2" fill="none"/>
                                        </svg>
                                    </button>
              </span>
          </div>
          <div class="profile__info-item">
              <strong class="profile__info-item-label">{{"about_me_titles.city" | translate}}</strong>
              <span>{{'about_me_details.city' | translate }}</span>
          </div>
      </div>
  </div>
</div>
