.contact-me {
    display: flex;
    text-align: center;
    max-width: 100%;
    color: white;
    flex-direction: column;
    padding-bottom: 30px;
    gap: 20px;
    margin: 0 auto;
    &__title {
        font-size: 1.7rem;
    }
    &__section {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border-bottom: 2px solid white;
        padding: 15px;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 5px;
    }
    &__social-image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    &__text {
        text-decoration: none;
        margin-bottom: 5px;
        color: inherit;
    }
    &__socials {
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    p {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .contact-me {
        max-width: 100%;
        padding: 20px;
    }
    .contact-me__title {
        font-size: 1.5rem;
    }
    .contact-me__section {
        flex-direction: column;
        text-align: center;
    }
}
