<div class="contact-me">
  <h1 class="contact-me__title">{{ 'contact_me_text' | translate }}</h1>

  <div class="contact-me__section">
      <div class="contact-me__item">
          <a class="contact-me__social-icon"  target="_blank">
              <img class="contact-me__social-image" src="https://cdn-icons-png.flaticon.com/128/3178/3178158.png" alt="GitHub">
          </a>
          <div class="contact-me__text-wrapper">
            <a class="contact-me__text" href="mailto:c4m1loo12@gmail.com">{{'about_me_details.email' | translate }}</a>
            <button class="copy-button" (click)="copyEmail()">
              <img src="https://cdn-icons-png.flaticon.com/512/1621/1621635.png" alt="Copy Icon" />
            </button>
          </div>
          <div *ngIf="emailCopied" class="copied-message">Correo copiado al portapapeles</div>
      </div>

      <div class="contact-me__item">
          <a class="contact-me__social-icon" [href]="links.LINKEDIN" target="_blank">
              <img class="contact-me__social-image" src="https://cdn-icons-png.flaticon.com/512/4401/4401412.png" alt="LinkedIn">
          </a>
          <a class="contact-me__text" [href]="links.LINKEDIN" target="_blank">{{'linKedln' | translate }}</a>
      </div>
  </div>

  <div class="contact-me__section">
      <h2 class="contact-me__subtitle">{{ 'contact_me' | translate }}</h2>
      <div class="contact-me__socials">
          <a class="contact-me__social-icon" [href]="links.INSTAGRAM" target="_blank">
              <img class="contact-me__social-image" src="https://cdn-icons-png.flaticon.com/128/3670/3670274.png" alt="Instagram">
          </a>
      </div>
  </div>
</div>
