<nav class="navbar" [ngClass]="{'scrolled': isScrolled}">
    <a class="navbar__logo" (click)="scrollToElement($event, routes.Home)">
        {{"name_icon" | translate}}
    </a>

    <div class="navbar__toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span class="navbar__toggle-line"></span>
        <span class="navbar__toggle-line"></span>
        <span class="navbar__toggle-line"></span>
    </div>

    <div class="navbar__links">
        <a *ngFor="let route of routeValues" class="navbar__links-item" [href]="'#' + route.id" (click)="scrollToElement($event, route.id)">
            {{ route.translation }}
        </a>
    </div>
</nav>

<div class="side-menu" [class.open]="isMenuOpen">
    <a *ngFor="let route of routeValues" class="side-menu__link" [href]="'#' + route.id" (click)="scrollToElement($event, route.id)">
        {{ route.translation }}
    </a>
</div>

<div class="overlay" [class.show]="isMenuOpen" (click)="toggleMenu()"></div>
