/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors';
@import './assets/styles/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: $bg-primary;
    color: $text-primary;
}

body {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background: linear-gradient(180deg, $primary-dark 0%, $secondary-dark 100%);
    background-attachment: fixed;
    color: $text-primary;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: $primary-dark;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-base;
    border-radius: 20px;
    
    &:hover {
        background-color: $hover-primary;
    }
}
